* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

header h2 {
    margin: 5px 0 0;
    font-size: 16px;
    font-weight: bold;
}

form {
    width: 900px;
    margin: auto;
    border: 1px solid #666;
    padding: 10px;
}

.bloque {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
}

.bloque h3 {
    margin: -20px 0 10px 10px;
    background: #fff;
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
}

.datos {
    background-color: #d3d3d3;
}

.acceso {
    background-color: #f4c7a1;
    display: flex;
    gap: 40px;
}

.documentos {
    background-color: #b88282;
}

.fila {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 10px;
}

.fila label {
    font-size: 12px;
    width: 150px;
}

.fila input,
.fila select {
    height: 22px;
    padding: 2px;
}

.ancho {
    width: 300px;
}

.columna {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.columna input[type="text"] {
    width: 200px;
    margin-top: 5px;
}

.documentos label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.botones {
    text-align: center;
    margin-top: 15px;
}

button {
    padding: 5px 12px;
    margin: 0 5px;
    border: 1px solid #555;
    background-color: #e0e0e0;
    cursor: pointer;
}

button:hover {
    background-color: #cfcfcf;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.subopciones {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 4px;
}

.subopciones input[type="text"] {
    width: 250px;
    margin-bottom: 6px;
}


.bloque {
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 15px;
}


.datos {
    background-color: #d3d3d3;
}


.acceso {
    background-color: #f4c7a1;
    display: block;       
}


.documentos {
    background-color: #b88282;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.subopciones {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 4px;
}


.subopciones input[type="text"] {
    width: 220px;
}

.boton-volver1 {
  background-color: #e65100;
  color: white;
  text-decoration: none;
  padding: 6px 15px; 
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px; 
  transition: all 0.3s ease;
}