* {
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", serif;
}

body {
    background-color: #ffffff;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    color: #7a5a1f;
}

header h1 {
    font-size: 20px;
}


form {
    width: 850px;
    margin: auto;
}


.bloque {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.3);
}


.datos {
    background-color: #cfa353;
}


.info {
    background-color: #ffcc73;
}


.bloque h2 {
    text-align: right;
    font-style: italic;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}


.fila {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 10px;
}

.fila label {
    font-size: 13px;
    min-width: auto; 
    margin-right: 10px; 

}


input[type="text"],
input[type="email"],
select,
textarea {
    padding: 4px;
    font-size: 13px;
}

select[size] {
    width: 140px;
}

textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}


.checkboxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 13px;
    margin-bottom: 10px;
}


.botones {
    display: flex;
    justify-content: center;
    gap: 40px;
}

button {
    width: 140px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #5a4723;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #3f3218;
}

.boton-volver1 {
  background-color: #e65100;
  color: white;
  text-decoration: none;
  padding: 6px 15px; 
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px; 
  transition: all 0.3s ease;
}